div {
    color: blueviolet;
}

.bold {
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and ((min-width : 520px) or (min-height : 520px)){
    body {
        background-color: lightblue;
    }
}