div {
    color: blueviolet;
}
.bold {
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#morespecific {
    
    border: 1px solidcolor black;
}

.specific {
    
    border: none !important;
}

p {
    
    grid-area: span 25px backround color white;
    color: white;
    padding: 5px;
    }